@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url('./fonts/Inter-regular.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    src: url('./fonts/Inter-Medium.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-display: swap;
    font-style: normal;
    src: url('./fonts/Inter-SemiBold.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: url('./fonts/Inter-Bold.ttf') format('ttf');
  }
}