<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="../../style.css">
	<link rel="stylesheet" type="text/css" href="https://www.ra.ee/vau/css/themes/jui/silver/jquery-ui.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="m-10 space-y-10">
	<div class="fancybox-inner" style="overflow: auto; width: 300px">
		<h2 class="mb-8 font-bold text-lg text-gray-700">
			Vali konto
		</h2>
		<ul role="list" class="grid grid-cols-1 gap-5">
			<li class="group relative col-span-1 flex items-center rounded-full bg-gray-50/60 hover:bg-gray-100">
				<div class="flex h-16 w-16 flex-shrink-0 items-center justify-center rounded-full bg-green-100 text-sm font-medium group-hover:bg-green-200">
					<svg class="h-8 w-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
						<path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"></path>
					</svg>
				</div>
				<div class="flex-1 px-3 py-2">
					<a href="https://www.ra.ee/vau/index-dev.php/et/company/select?id=0&amp;_xr=eNolilEKgCAQBe%252ByFzAtMJ6nWUREEDPTDwnvXtnXDMMwJO6AxTDWXy4oDRIunS2ULjjnGCzXcCRhi%252BPq6F02UO15qgTpjzsocvKN%252FcwK5CqZMR4DSx8J" class="font-medium text-gray-900 line-clamp-2">
						<span class="absolute inset-0" aria-hidden="true"></span>
						Erik Uus
					</a>
					<p class="text-gray-600">
						eraisikuna
					</p>
				</div>
			</li>
			<li class="group relative col-span-1 flex items-center rounded-full bg-gray-50/60 hover:bg-gray-100">
				<div class="flex h-16 w-16 flex-shrink-0 items-center justify-center rounded-full bg-blue-100 text-sm font-medium group-hover:bg-blue-200">
					<svg class="h-8 w-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
						<path d="M160-120q-33 0-56.5-23.5T80-200v-440q0-33 23.5-56.5T160-720h160v-80q0-33 23.5-56.5T400-880h160q33 0 56.5 23.5T640-800v80h160q33 0 56.5 23.5T880-640v440q0 33-23.5 56.5T800-120H160Zm240-600h160v-80H400v80Zm400 360H600v80H360v-80H160v160h640v-160Zm-360 0h80v-80h-80v80Zm-280-80h200v-80h240v80h200v-200H160v200Zm320 40Z"></path>
					</svg>
				</div>
				<div class="flex-1 px-3 py-2">
					<a href="https://www.ra.ee/vau/index-dev.php/et/company/select?id=52&amp;_xr=eNolilEKgCAQBe%252ByFzAtMJ6nWUREEDPTDwnvXtnXDMMwJO6AxTDWXy4oDRIunS2ULjjnGCzXcCRhi%252BPq6F02UO15qgTpjzsocvKN%252FcwK5CqZMR4DSx8J" class="font-medium text-gray-900 line-clamp-2">
						<span class="absolute inset-0" aria-hidden="true"></span>
						Tallinna Linnaplaneerimise Amet (muinsuskaitse osakond) (Arendus)
					</a>
				</div>
			</li>
			<li class="group relative col-span-1 flex items-center rounded-full bg-gray-50/60 hover:bg-gray-100">
				<div class="flex h-16 w-16 flex-shrink-0 items-center justify-center rounded-full bg-blue-100 text-sm font-medium group-hover:bg-blue-200">
					<svg class="h-8 w-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
						<path d="M160-120q-33 0-56.5-23.5T80-200v-440q0-33 23.5-56.5T160-720h160v-80q0-33 23.5-56.5T400-880h160q33 0 56.5 23.5T640-800v80h160q33 0 56.5 23.5T880-640v440q0 33-23.5 56.5T800-120H160Zm240-600h160v-80H400v80Zm400 360H600v80H360v-80H160v160h640v-160Zm-360 0h80v-80h-80v80Zm-280-80h200v-80h240v80h200v-200H160v200Zm320 40Z"></path>
					</svg>
				</div>
				<div class="flex-1 px-3 py-2">
					<a href="https://www.ra.ee/vau/index-dev.php/et/company/select?id=23&amp;_xr=eNolilEKgCAQBe%252ByFzAtMJ6nWUREEDPTDwnvXtnXDMMwJO6AxTDWXy4oDRIunS2ULjjnGCzXcCRhi%252BPq6F02UO15qgTpjzsocvKN%252FcwK5CqZMR4DSx8J" class="font-medium text-gray-900 line-clamp-2">
						<span class="absolute inset-0" aria-hidden="true"></span>
						Eesti Kõrgkoolidevaheline Demouuringute Keskus
					</a>
				</div>
			</li>
			<li class="group relative col-span-1 flex items-center rounded-full bg-gray-50/60 hover:bg-gray-100">
				<div class="flex h-16 w-16 flex-shrink-0 items-center justify-center rounded-full bg-blue-100 text-sm font-medium group-hover:bg-blue-200">
					<svg class="h-8 w-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
						<path d="M160-120q-33 0-56.5-23.5T80-200v-440q0-33 23.5-56.5T160-720h160v-80q0-33 23.5-56.5T400-880h160q33 0 56.5 23.5T640-800v80h160q33 0 56.5 23.5T880-640v440q0 33-23.5 56.5T800-120H160Zm240-600h160v-80H400v80Zm400 360H600v80H360v-80H160v160h640v-160Zm-360 0h80v-80h-80v80Zm-280-80h200v-80h240v80h200v-200H160v200Zm320 40Z"></path>
					</svg>
				</div>
				<div class="flex-1 px-3 py-2">
					<a href="https://www.ra.ee/vau/index-dev.php/et/company/select?id=8&amp;_xr=eNolilEKgCAQBe%252ByFzAtMJ6nWUREEDPTDwnvXtnXDMMwJO6AxTDWXy4oDRIunS2ULjjnGCzXcCRhi%252BPq6F02UO15qgTpjzsocvKN%252FcwK5CqZMR4DSx8J" class="font-medium text-gray-900 line-clamp-2">
						<span class="absolute inset-0" aria-hidden="true"></span>
						AS Äripäev
					</a>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>