<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="../../style.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.3/dist/cdn.min.js"></script>
</head>
<body class="m-10 space-y-5">

  <div id="info" class="rounded p-4 bg-gray-50 text-zinc-700 text-sm -mx-2">
    <div class="flex items-start">
      <div class="flex-1 space-y-2">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p class="underline">Link</p>
      </div>
    </div>
  </div>

  <div id="success" class="rounded p-4 bg-yellow-50 text-yellow-700 text-sm">
    <div class="flex items-start">
      <div class="flex-1 ">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <button type="button" class="flex-shrink-0 ml-4">
        <a class="close" href="#">
          <svg class="w-5 h-5 opacity-40 group-hover:opacity-70" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"></path>
          </svg>
        </a>
      </button>      
    </div>
  </div>

  <div id="error" class="rounded p-4 bg-red-50 text-red-700 text-sm">
    <div class="flex items-start">
      <div class="flex-1 ">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
  </div>

</body>
</html>