<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="../../style.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="m-10 space-y-10">
	<p>Vajalik, et tailwind.css @apply rakenduks</p>
	<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem">
		<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">Vide 1 OÜ</a></li>
		<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">VIDEA OÜ</a></li>
		<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">Videal OÜ</a></li>
		<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">Videal Productions OÜ</a></li>
		<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">Videblom OÜ</a></li>
		<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">OÜ Videgard</a></li>
		<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">Videl Capital OÜ</a></li>
		<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">OÜ Videlicet</a></li>
		<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">Videm Invest OÜ</a></li>
		<li class="ui-menu-item" role="menuitem"><a class="ui-corner-all" tabindex="-1">VIDEMAT OÜ</a></li>
	</ul>
</body>
</html>