<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="../../style.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.3/dist/cdn.min.js"></script>
</head>
<body class="m-8">

  <div class="max-w-3xl shadow rounded p-8">
    <h2 class="font-heading mb-6 text-lg font-bold text-gray-700">Kasuta varem salvestatud seadeid</h2>
    <ul role="list" class="divide-y divide-gray-100">
      <li class="flex flex-wrap items-center justify-between gap-x-6 gap-y-4 py-5 sm:flex-nowrap">
        <div class="space-y-2">
          <p class="text-sm font-semibold text-gray-900">
            Interneti (ftp-serveri) kaudu
          </p>
          <p class="text-sm font-semibold text-gray-900">
              Maksan krediitkaardi või pangalingiga (Swedbank, SEB, Luminor, LHV)
          <p>
        </div>
        <dl class="flex w-full flex-none justify-between gap-x-8 sm:w-auto">
            <a id="link_25745" name="link_25745" href="#" class="focus-visible::ring-2 focus-visible::ring-green-300 inline-flex cursor-pointer items-center rounded py-2 px-3 border border-gray-200 rounded bg-white p-3 text-center text-sm font-medium text-gray-900 hover:bg-gray-100">
              Vali
            </a>
        </dl>
      </li>
      <li class="flex flex-wrap items-center justify-between gap-x-6 gap-y-4 py-5 sm:flex-nowrap">
        <div class="space-y-2">
          <p class="text-sm font-semibold text-gray-900">
            Tulen ise järele
          </p>
          <p class="text-sm font-semibold text-gray-900">
              Maksan kohapeal sularahas
          <p>
        </div>
        <dl class="flex w-full flex-none justify-between gap-x-8 sm:w-auto">
            <a id="link_25745" name="link_25745" href="#" class="focus-visible::ring-2 focus-visible::ring-green-300 inline-flex cursor-pointer items-center rounded py-2 px-3 border border-gray-200 rounded bg-white p-3 text-center text-sm font-medium text-gray-900 hover:bg-gray-100">
              Vali
            </a>
        </dl>
      </li>
      <li class="flex flex-wrap items-center justify-between gap-x-6 gap-y-4 py-5 sm:flex-nowrap">
        <div class="space-y-2">
          <p class="text-sm font-semibold text-gray-900">
            Postipakiga aadressil
          </p>
          <p class="text-sm text-gray-900">
            Tammsaare 8 Tartu linn
          </p>
          <p class="text-sm text-gray-900">
            Tartu maakond, 51006
          </p>
          <p class="text-sm text-gray-900">
            Eesti Vabariik
          </p>
          <p class="text-sm font-semibold text-gray-900">
            Maksan arve alusel
          <p>
          <p class="text-sm text-gray-900">
            erik.uus@gmail.com
          <p>
        </div>
        <dl class="flex w-full flex-none justify-between gap-x-8 sm:w-auto">
            <a id="link_25745" name="link_25745" href="#" class="focus-visible::ring-2 focus-visible::ring-green-300 inline-flex cursor-pointer items-center rounded py-2 px-3 border border-gray-200 rounded bg-white p-3 text-center text-sm font-medium text-gray-900 hover:bg-gray-100">
              Vali
            </a>
        </dl>
      </li>
    </ul>
  </div>
</body>
</html>