<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="../../style.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.3/dist/cdn.min.js"></script>
</head>
<body>

  <div class="prose">
    <h2>Tere tulemast virtuaalsesse uurimissaali</h2><h3>Vali registreerimisviis</h3><ul><li><strong>Kasutajanimi ja salasõna.</strong> Loo konto kasutajanime, salasõna ja e-posti aadressiga.</li><li><strong>Sotsiaalmeedia ja digitaalne ID.</strong> Kasuta registreerumiseks Mobiil-ID-d, ID-kaarti, Smart-ID-d või Google'it, Facebook'i, LinkedIni. Pärast registreerumist saad kasutada valitud meetodit ka sisselogimiseks.</li></ul><h3>Oluline</h3><ul><li>Kasutajanime ja salasõnaga registreerumine ja digitaalse ID-ga sisselogimine ilma seda esmalt oma kontoga sidumata loob mitu kontot.</li><li>Mitme konto tekkimise vältimiseks ühenda pärast kasutajanime ja salasõnaga sisenemist digitaalne ID oma VAU kontoga profiili sätetes.</li></ul>
  </div>

  <div class="flex flex-col gap-y-2 md:flex-row md:gap-x-2 md:justify-between mt-10">
    <a class="
          focus-visible::ring-2 focus-visible::ring-green-300
          ursor-pointer items-center rounded bg-gray-900 py-2 pl-3 pr-4
          text-center text-sm font-medium text-white hover:bg-gray-700 w-full
        " href="/vau/index-dev.php/et/account/create">Registreeru kasutajanime ja salasõnaga</a>
    <a class="
          focus-visible::ring-2 focus-visible::ring-green-300
          cursor-pointer items-center rounded bg-gray-900 py-2 pl-3 pr-4
          text-center text-sm font-medium text-white hover:bg-gray-700 w-full
        " href="/vau/index-dev.php/et/site/login">Registreeru sotsiaalmeedia/digitaalse ID-ga</a>
  </div>

</body>
</html>