<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="../../style.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.3/dist/cdn.min.js"></script>
</head>
<body class="m-10 space-y-5">
  <div class="w-96 relative">
    <ul class="opacity-25">
      <li class="flex items-center justify-between border-b border-gray-200 pl-6 pr-8 py-3 h-16">
        <span>Mobiil-ID</span>
        <img class="d-methods-list__method__icon" src="https://id.dokobit.com/assets/img/ic_mobile_24px.svg">
      </li>
      <li class="flex items-center justify-between border-b border-gray-200 pl-6 pr-8 py-3 h-16">
        <span>Smart-ID</span>
        <img class="d-methods-list__method__icon" src="https://id.dokobit.com/assets/img/ic_smartid_24px.svg">
      </li>
      <li class="flex items-center justify-between border-b border-gray-200 pl-6 pr-8 py-3 h-16">
        <span>ID-kaart</span>
        <svg class="d-methods-list__method__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
          <g fill-rule="evenodd">
            <path d="M0 0h24v24H0V0z" fill="none"></path>
            <path d="M4 4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2H4zm16 14H4v-6h16v6zm0-10H4V6h16v2zm0 4h-9V8h9v4zM6 12H4V8h2v4z"></path>
          </g>
        </svg>
      </li>
    </ul>
  </div>
</body>
</html>