<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="../../style.css">
  <link rel="stylesheet" type="text/css" href="/vau/css/themes/jui/silver/jquery-ui.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.3/dist/cdn.min.js"></script>
</head>
<body>

<div class="ui-dialog ui-widget ui-widget-content ui-corner-all  ui-draggable ui-resizable" style="display: block; z-index: 1002; outline: 0px; position: absolute; height: auto; width: 300px; top: 60px; left: 719px;" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-order-data-dialog"><div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix"><span class="ui-dialog-title" id="ui-dialog-title-order-data-dialog">Vaata tellimust</span><a href="#" class="ui-dialog-titlebar-close ui-corner-all" role="button"><span class="ui-icon ui-icon-closethick">close</span></a></div><div id="order-data-dialog" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 78px; height: auto;">
<div class="flex justify-between items-start gap-x-6">

    <h3 class="text-sm md:text-lg font-bold">
        EAA.1414.1.272; Koopia<br /><small class="text-gray-500">nr 903570</small>
    </h3>

<div class="flex flex-col gap-y-2 text-right sm:flex-row sm:gap-x-6 whitespace-nowrap" id="yw0">
<a rel="external" class="w-full md:w-auto justify-center focus-visible::ring-2 focus-visible::ring-green-300 cursor-pointer items-center rounded py-2 px-3 border border-gray-200 rounded bg-white p-3 text-center text-sm font-medium text-gray-900 hover:bg-gray-100" href="/vau/index-dev.php/et/dgs/app/search?refcode=EAA.1414.1.272">Ava digitud säilik</a><a rel="external" class="w-full md:w-auto justify-center focus-visible::ring-2 focus-visible::ring-green-300 cursor-pointer items-center rounded py-2 px-3 border border-gray-200 rounded bg-white p-3 text-center text-sm font-medium text-gray-900 hover:bg-gray-100" href="https://sise.ais.ra.ee/description-unit/search?refcode=EAA.1414.1.272">Ava säilik AIS-is</a></div></div>
<div class="my-6 prose prose-li:mt-1 prose-li:mb-1 text-gray-800 text-sm">
    <ul><li>kuni A2 formaadis tarbekoopia (tekstidokumentidest jms), kaader: 0,60&nbsp;€</li></ul></div>
<div class="prose max-w-none prose-th:p-3 prose-td:p-3">
    <table class="order-detail-view" id="yw1"><tbody><tr class="odd"><th>Kopeerida</th><td>.2 Olümpeioni templi foto</td></tr>
<tr class="even"><th>Säilik</th><td>Akropolise fotod</td></tr>
<tr class="odd"><th>Tellija märkused</th><td>Selle tellimuse tegelik eesmärk on testida kaardimakset.</td></tr>
<tr class="even"><th>Loodud</th><td>04.04.2025 16:23</td></tr>
<tr class="odd"><th>Kasutuseesmärk</th><td>Testimine</td></tr>
<tr class="even"><th>Märksõnad</th><td><span class="null">Puudub</span></td></tr>
</tbody></table></div><br>
</div><div class="ui-resizable-handle ui-resizable-n"></div><div class="ui-resizable-handle ui-resizable-e"></div><div class="ui-resizable-handle ui-resizable-s"></div><div class="ui-resizable-handle ui-resizable-w"></div><div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se ui-icon-grip-diagonal-se" style="z-index: 1001;"></div><div class="ui-resizable-handle ui-resizable-sw" style="z-index: 1002;"></div><div class="ui-resizable-handle ui-resizable-ne" style="z-index: 1003;"></div><div class="ui-resizable-handle ui-resizable-nw" style="z-index: 1004;"></div></div>

</body>
</html>