<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="../../style.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.3/dist/cdn.min.js"></script>
</head>
<body class="m-10 space-y-5">
	<ul class="space-y-5" role="list">
		<li class="relative group space-y-1">
			<div class="bg-gray-50/60 rounded group-hover:bg-gray-100">
				<img class="object-cover w-full h-32 rounded opacity-60 group-hover:opacity-100" src="../../images/db/pitserid.png">
			</div>
			<div class="p-4 rounded h-32 bg-gray-50/60 group-hover:bg-gray-100">bbbb</div>
		</li>
		<li class="relative group space-y-1">
			<div class=" bg-gray-50/60 rounded group-hover:bg-gray-100">
				<img class="object-cover w-full h-32 rounded opacity-60 group-hover:opacity-100" src="../../images/db/pitserid.png">
			</div>
			<div class="p-4 rounded h-32 bg-gray-50/60 group-hover:bg-gray-100">bbbb</div>
		</li>
	</ul>
</body>
</html>