<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="../../style.css?v=2">
	<link rel="stylesheet" type="text/css" href="/vau/assets/8d6c48ad/jquery.multiselect.css" />
	<link rel="stylesheet" type="text/css" href="/vau/css/themes/jui/silver/jquery-ui.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="m-10 space-y-10">
	<select name="Order[type]" id="Order_type" class="block w-full rounded border border-gray-200 px-4 py-3 text-gray-900 hover:border-gray-300 focus:border-gray-500 focus:outline-none focus:ring-2 focus:ring-green-300 sm:text-base sm:leading-6 disabled:bg-gray-50 disabled:text-gray-400 disabled:border-gray-100">
		<option value=""></option>
		<option value="1">Laenutus</option>
		<option value="3">Kauglaenutus</option>
		<option value="5">Koopia</option>
	</select>
	<button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all ui-state-active" aria-haspopup="true" tabindex="0" style="width: 533px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>&lt;A2 tarbekoopia (tekstidokumentidest jms) / kaader: 0,60&nbsp;€</span></button>

	<div class="ui-multiselect-menu ui-widget ui-widget-content ui-corner-all" style="width: 525px; top: 60px; left: 40px; display: block;">
		<div class="ui-widget-header ui-corner-all ui-multiselect-header ui-helper-clearfix" style="display: none;">
			<ul class="ui-helper-reset">
				<li class="ui-multiselect-close"><a href="#" class="ui-multiselect-close"><span class="ui-icon ui-icon-circle-close"></span></a></li>
			</ul>
		</div>
		<ul class="ui-multiselect-checkboxes ui-helper-reset">
			<li class="ui-multiselect-optgroup-label"><a href="#">Digikoopia</a></li>
			<li class="">
				<label for="ui-multiselect-Order_pricelistIds-option-0" title="" class="ui-corner-all ui-state-hover">
					<input id="ui-multiselect-Order_pricelistIds-option-0" name="multiselect_Order_pricelistIds" type="checkbox" value="407" title="kuni A3 formaadis, trükikvaliteediga (fotodest, kaartidest jms), kaader/foto: 3,50&nbsp;€"><span>kuni A3 formaadis, trükikvaliteediga (fotodest, kaartidest jms), kaader/foto: 3,50&nbsp;€</span>
				</label>
			</li>
			<li class=""><label for="ui-multiselect-Order_pricelistIds-option-1" title="" class="ui-corner-all"><input id="ui-multiselect-Order_pricelistIds-option-1" name="multiselect_Order_pricelistIds" type="checkbox" value="408" title="<A3  trükikvaliteediga (fotodest, kaartidest jms) / kaader: 3,50&nbsp;€"><span>&lt;A3  trükikvaliteediga (fotodest, kaartidest jms) / kaader: 3,50&nbsp;€</span></label></li>
			<li class=""><label for="ui-multiselect-Order_pricelistIds-option-2" title="" class="ui-corner-all"><input id="ui-multiselect-Order_pricelistIds-option-2" name="multiselect_Order_pricelistIds" type="checkbox" value="413" title="A3-A0 trükikvaliteediga (fotodest, kaartidest jms) / kaader: 15,00&nbsp;€"><span>A3-A0 trükikvaliteediga (fotodest, kaartidest jms) / kaader: 15,00&nbsp;€</span></label></li>

			<li class="ui-multiselect-optgroup-label"><a href="#">Digikoopia</a></li>
			<li class="">
				<label for="ui-multiselect-Order_pricelistIds-option-0" title="" class="ui-corner-all ui-state-hover">
					<input id="ui-multiselect-Order_pricelistIds-option-0" name="multiselect_Order_pricelistIds" type="checkbox" value="407" title="kuni A3 formaadis, trükikvaliteediga (fotodest, kaartidest jms), kaader/foto: 3,50&nbsp;€"><span>kuni A3 formaadis, trükikvaliteediga (fotodest, kaartidest jms), kaader/foto: 3,50&nbsp;€</span>
				</label>
			</li>
			<li class=""><label for="ui-multiselect-Order_pricelistIds-option-1" title="" class="ui-corner-all"><input id="ui-multiselect-Order_pricelistIds-option-1" name="multiselect_Order_pricelistIds" type="checkbox" value="408" title="<A3  trükikvaliteediga (fotodest, kaartidest jms) / kaader: 3,50&nbsp;€"><span>&lt;A3  trükikvaliteediga (fotodest, kaartidest jms) / kaader: 3,50&nbsp;€</span></label></li>
			<li class=""><label for="ui-multiselect-Order_pricelistIds-option-2" title="" class="ui-corner-all"><input id="ui-multiselect-Order_pricelistIds-option-2" name="multiselect_Order_pricelistIds" type="checkbox" value="413" title="A3-A0 trükikvaliteediga (fotodest, kaartidest jms) / kaader: 15,00&nbsp;€"><span>A3-A0 trükikvaliteediga (fotodest, kaartidest jms) / kaader: 15,00&nbsp;€</span></label></li>

			<li class="ui-multiselect-optgroup-label"><a href="#">Digikoopia</a></li>
			<li class="">
				<label for="ui-multiselect-Order_pricelistIds-option-0" title="" class="ui-corner-all ui-state-hover">
					<input id="ui-multiselect-Order_pricelistIds-option-0" name="multiselect_Order_pricelistIds" type="checkbox" value="407" title="kuni A3 formaadis, trükikvaliteediga (fotodest, kaartidest jms), kaader/foto: 3,50&nbsp;€"><span>kuni A3 formaadis, trükikvaliteediga (fotodest, kaartidest jms), kaader/foto: 3,50&nbsp;€</span>
				</label>
			</li>
			<li class=""><label for="ui-multiselect-Order_pricelistIds-option-1" title="" class="ui-corner-all"><input id="ui-multiselect-Order_pricelistIds-option-1" name="multiselect_Order_pricelistIds" type="checkbox" value="408" title="<A3  trükikvaliteediga (fotodest, kaartidest jms) / kaader: 3,50&nbsp;€"><span>&lt;A3  trükikvaliteediga (fotodest, kaartidest jms) / kaader: 3,50&nbsp;€</span></label></li>
			<li class=""><label for="ui-multiselect-Order_pricelistIds-option-2" title="" class="ui-corner-all"><input id="ui-multiselect-Order_pricelistIds-option-2" name="multiselect_Order_pricelistIds" type="checkbox" value="413" title="A3-A0 trükikvaliteediga (fotodest, kaartidest jms) / kaader: 15,00&nbsp;€"><span>A3-A0 trükikvaliteediga (fotodest, kaartidest jms) / kaader: 15,00&nbsp;€</span></label></li>
		</ul>
	</div>

</body>
</html>