<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="../../style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css" media="print">
        #printbutton {
            display: none
        }
    </style>
    <script type="text/javascript">
        function printpage() {
            window.print();
        }    </script>
</head>
<body class="m-8">
    <div class="content" style="width: 800px; margin: 0 auto;">
        <div id="printbutton" class="text-right">
            <button onclick="printpage()" type="button" class="mb-8 focus-visible::ring-2 focus-visible::ring-green-300 inline-flex cursor-pointer items-center rounded bg-gray-900 py-2 pl-3 pr-4 text-center text-sm font-medium text-white hover:bg-gray-700">
                <svg class="mr-1.5 h-3 w-3 text-white" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 8H18V3H6V8H5C3.34 8 2 9.34 2 11V17H6V21H18V17H22V11C22 9.34 20.66 8 19 8ZM8 5H16V8H8V5ZM16 17V19H8V15H16V17ZM18 15V13H6V15H4V11C4 10.45 4.45 10 5 10H19C19.55 10 20 10.45 20 11V15H18Z M18 12.5C18.5523 12.5 19 12.0523 19 11.5C19 10.9477 18.5523 10.5 18 10.5C17.4477 10.5 17 10.9477 17 11.5C17 12.0523 17.4477 12.5 18 12.5Z"></path>
                </svg>
                Prindi
            </button>
        </div>
        <h1 class="font-heading mb-10 mt-px border-b-2 border-gray-500 pb-2 text-lg font-bold text-gray-700 sm:mt-6 sm:text-xl xl:mt-0">
            Teenuste arvestus nr AKA2021-00051
        </h1>
        <div class="prose prose-h2:font-body prose-h2:text-lg prose-h2:font-bold prose-h2:text-gray-700 max-w-none prose-table:rounded prose-table:bg-gray-50/60 prose-th:p-3 prose-td:p-3">
            <table>
                <thead>
                    <tr>
                        <th>Tellimus/Päring</th>
                        <th class="hidden md:table-cell print:table-cell">Teenus</th>
                        <th class="hidden md:table-cell print:table-cell text-right">Hind</th>
                        <th class="hidden md:table-cell print:table-cell text-right">Kogus</th>
                        <th class="hidden md:table-cell print:table-cell text-right">Kokku</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            LVMA.889.1.21816; Koopia; nr 714598
                            <div class="block md:hidden">
                                &lt;A2 tarbekoopia (tekstidokumentidest jms) / kaader
                            </div>
                            <dl class="flex gap-x-1 md:hidden print:hidden">
                                <dt>Hind:</dt>
                                <dd>0,40</dd>
                            </dl>
                            <dl class="flex gap-x-1 md:hidden print:hidden">
                                <dt>Kogus:</dt>
                                <dd>8</dd>
                            </dl>
                        </td>
                        <td class="hidden md:table-cell print:table-cell">&lt;A2 tarbekoopia (tekstidokumentidest jms) / kaader</td>
                        <td class="hidden md:table-cell print:table-cell text-right">0,40&nbsp;€</td>
                        <td class="hidden md:table-cell print:table-cell text-right">8</td>
                        <td class="hidden md:table-cell print:table-cell text-right">3,20&nbsp;€</td>
                    </tr>
                    <tr>
                        <th colspan="8" class="text-right">
                            Tasuda: 3,20&nbsp;€
                        </th>
                    </tr>
                </tbody>
            </table>
            <table class="detail-view" id="yw0">
                <tbody>
                    <tr class="odd"><th>Asutus</th><td>Aktsiaselts KEK Invest</td></tr>
                    <tr class="even"><th>Koostaja</th><td>Kaia Ivask</td></tr>
                    <tr class="odd"><th>Koostatud</th><td>31.05.2021 16:03</td></tr>
                    <tr class="even"><th>ERPLY arve nr</th><td>9030580</td></tr>
                    <tr class="odd"><th>ERPLY tellimuse loomisaeg</th><td>31.05.2021 16:03</td></tr>
                    <tr class="even"><th>ERPLY laekumine</th><td>Jah</td></tr>
                    <tr class="odd"><th>ERPLY laekumise aeg</th><td>14.06.2021 03:30</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>