<!DOCTYPE html>
<html class="m-10">
<head>
	<title></title>
	<link rel="stylesheet" href="../../style.css">
</head>
<body class="font-body">
	<div class="flex space-x-10 mb-20">
		<div class="flex items-center justify-center text-sm w-52 h-36 rounded-sm border border-black">Small</div>
		<div class="flex items-center justify-center text-sm w-52 h-36 rounded border border-black">Default</div>
		<div class="flex items-center justify-center text-sm w-36 h-36 rounded-full border border-black">Full</div>
	</div>
</body>
</html>