<!DOCTYPE html>
<html class="m-10">
<head>
		<title></title>
		<link rel="stylesheet" href="../../style.css">
		<!-- <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap" rel="stylesheet"> -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="font-body space-y-4">
	<div class="flex items-center">
		<dt class="w-16">xs</dt>
		<dd class="truncate text-xs">The quick brown fox jumped over the lazy dog.</dd>
	</div>
	<div class="flex items-center">
		<dt class="w-16">sm</dt>
		<dd class="truncate text-sm">The quick brown fox jumped over the lazy dog.</dd>
	</div>
	<div class="flex items-center">
		<dt class="w-16">base</dt>
		<dd class="truncate text-base">The quick brown fox jumped over the lazy dog.</dd>
	</div>
	<div class="flex items-center">
		<dt class="w-16">lg</dt>
		<dd class="truncate text-lg">The quick brown fox jumped over the lazy dog.</dd>
	</div>
	<div class="flex items-center">
		<dt class="w-16">xl</dt>
		<dd class="truncate text-xl">The quick brown fox jumped over the lazy dog.</dd>
	</div>
	<div class="flex items-center">
		<dt class="w-16">2xl</dt>
		<dd class="truncate text-2xl">The quick brown fox jumped over the lazy dog.</dd>
	</div>
	<div class="flex items-center">
		<dt class="w-16">3xl</dt>
		<dd class="truncate text-3xl">The quick brown fox jumped over the lazy dog.</dd>
	</div>
	<div class="flex items-center">
		<dt class="w-16">4xl</dt>
		<dd class="truncate text-4xl">The quick brown fox jumped over the lazy dog.</dd>
	</div>
	<div class="flex items-center">
		<dt class="w-16">5xl</dt>
		<dd class="truncate text-5xl">The quick brown fox jumped over the lazy dog.</dd>
	</div>
</body>
</html>