<!DOCTYPE html>
<html class="m-10">
<head>
		<title></title>
		<link rel="stylesheet" href="../../style.css">
		<!-- <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap" rel="stylesheet"> -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="space-y-10">
	<div class="flex items-center">
		<dt class="w-20 font-body">Roboto</dt>
		<dd class="truncate text-base font-body">The quick brown fox jumped over the lazy dog.</dd>
	</div>
	<div class="flex items-center">
		<dt class="w-20 font-header">Raleway</dt>
		<dd class="truncate text-xl font-header font-bold">The quick brown fox jumped over the lazy dog.</dd>
	</div>
	<div class="flex items-center">
		<dt class="w-20 font-mono">Mono</dt>
		<dd class="truncate text-base font-mono">The quick brown fox jumped over the lazy dog.</dd>
	</div>
</body>
</html>