<!DOCTYPE html>
<html class="m-10">
<head>
		<title></title>
		<link rel="stylesheet" href="../../style.css">
		<!-- <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap" rel="stylesheet"> -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="font-body">
	<article class="prose">
		<h1>Garlic bread with cheese</h1> 
		<h2>What the science tells us</h2>
		<p>
			For years parents have espoused the health benefits of eating garlic bread with cheese to their
			children, with the food earning such an iconic status in our culture that kids will often dress
			up as warm, cheesy loaf for Halloween.
		</p>
		<p>
			But a recent study shows that the celebrated appetizer may be linked to a series of rabies cases
			springing up around the country.
		</p>
		<ul>
			<li>But a recent study shows</li>
			<li>that the celebrated appetizer</li>
			<li>springing up around the country</li>
		</ul>
	</article>
</body>
</html>