<!doctype html>
<html lang="et">
  <head>
    <meta charset="utf-8">
    <title>Prindi eelvaade</title>
    <link rel="stylesheet" href="../../style.css">
    <style>
      /* Printimiseks kohandatud stiilid */
      @media print {
        body {
          background: none;
          margin: 0;
          padding: 0;
        }
      }
    </style>
  </head>
  <body class="bg-gray-100"> 
    <!-- Nupp, mis on ainult ekraanil nähtav -->
    <div class="print:hidden text-center">
      <button onclick="window.print()" class="mx-auto my-6 focus-visible::ring-2 focus-visible::ring-green-300 inline-flex cursor-pointer items-center rounded bg-gray-900 py-2 pl-3 pr-4 text-center text-sm font-medium text-white hover:bg-gray-700">Prindi</button>
    </div>
    <!-- Trükitav sisu, mis säilitab ideaalsed mõõtmed ja on printimiseks kohandatud -->
    <div class="mx-auto mb-6 p-6 bg-white w-[210mm] max-w-full print:w-full print:max-w-none print:px-0 print:shadow-none">
      <div class="!shadow-none">We need this as we need dynamic print:shadow-none shadow-none</div>
    </div>
  </body>
</html>